{% extends '::base.html.twig' %}

{% block stylesheets %}<link rel='stylesheet' href="{{ asset('bundles/DS/css/monComptestyle.css') }}" />{% endblock %}

{% block body %} 
    <section>
        <div class="black block">
            <div class="center">
                <h2>Mon Profil</h2>
                <br />
                <hr size="1px">
                <br />
                <div class="info">
                    <p>Nom de Famille : {{ infoaccount.nom }}</p>
                    <p>Prénom : {{ infoaccount.prenom }}</p>
                    <p>Sexe : {{ infoaccount.sexe }}</p>
                    <p>Numéro de téléphone : {{ infoaccount.tel }}<button id="modif_tel">Modifier</button></p>
                    <p>Adresse Mail : {{ infoaccount.email }}</p>
                    <p>Login : {{ infoaccount.login }} </p> 
                    <p>Mot de Passe : {{ infoaccount.password }}<button id="modif_password">Modifier</button></p>
                    <div class='point'>
                        <p>Nombre de points restants : {{ infoaccount.points }}</p>
                    </div>
                    <a href="#"><div class="resa">Réservation</div></a>
                </div>
            </div>
        </div>
    </section>

    <div id="modif_password_window">
        <div class="modif_background">
            <div class="modif_window" id="edit_password">
                
            </div>
        </div>
    </div>
                    
    <div id="modif_tel_window">
        <div class="modif_background">
            <div class="modif_window" id="edit_phone">
                
            </div>
        </div>
    </div>

    <script src="{{ asset("bundles/DS/JS/jquery-2.1.3.min.js") }} "></script>
    <script>
        var tempo = (window.screen.height - $('.modif_window').height()) / 4;
        
        $('.modif_window').css('marginTop', tempo + 'px');
        $('#edit_password').load('./compte/edit/password');
        $('#edit_phone').load('./compte/edit/phone');

        $('#modif_password').click(function() {
            $('#modif_password_window').show();
        });

        $('#modif_tel').click(function() {
            $('#modif_tel_window').show();
        });
        
        $('body').keydown(function(event) {
            if(event.keyCode === 27) {
                $('#modif_password_window').hide();
                $('#modif_tel_window').hide();
                $('#form_tel').val("");
                $('#form_password').val("");
                $('#form_passwordverif').val("");
            }
        });
    </script>
{% endblock %}