{% extends '::base.html.twig' %}

{% block stylesheets %}<link rel='stylesheet' href="{{ asset('bundles/DS/css/accueilstyle.css') }}" />{% endblock %}

{% block body %} 
    <section>
        <div class='center'>
            <div id='header_img'>
                <h2>Un style <br />à <br />votre image</h2>
            </div>
            <!--<img class='img_page' src="{{ asset('bundles/DS/img/img_start.jpg') }}">-->
        </div>
        <div class='black block'>
            <div class='center'>
                <div class='affiche'>
                    <h3>STYLE</h3>
                    <hr size="1px"/>
                    <div class="block_img">
                        <img src="{{ asset('bundles/DS/img/affiche_1.jpg') }}">
                    </div>
                    <p>Parce que le style c'est la base. On se doit donc de respecter le style de chacun.
                    De cette manière tout nos clients sont heureux de venir ici pour leur coiffure.</p>
                </div>
                <div class='affiche'>
                    <h3>TENDANCE</h3>
                    <hr size="1px">
                    <div class="block_img">
                        <img src="{{ asset('bundles/DS/img/affiche_3.jpg') }}">
                    </div>
                    <p>La tendance fait de nous ce que nous sommes aujourd'hui. Elle est indispensable
                    pour notre succès.</p>
                </div>
                <div class='affiche_last'>
                    <h3>FASHION</h3>
                    <hr size="1px">
                    <div class="block_img">
                        <img src="{{ asset('bundles/DS/img/affiche_2.jpg') }}">
                    </div>
                    <p>La mode nous permet de nous reconnaître au sein d'un groupe qui nous correspond.
                    Pour que tous puisse appartenir à un groupe qui nous correspond, choisissons notre coupe.</p>
                </div>
                    <div class="clear"></div>
                    <a href="#"><div class="en_savoir_plus">Réservation</div></a>
            </div>
        </div>
        
        <div class="white block">
            <div class='center'>
                <span id="title_comment">LE MEILLEUR SALON DE COIFFURE !</span>
                <div id="title_comment2">Nos clients avant tout</div>
                <hr>
                <div class="comment">Parce que nous pensons que le client est plus important que tout,
                    nous avons choisis d'être plus à l'écoute de nos ce dernier.<br />
                    Lorem impsu de chez pas quoi delite sqlop a plus sous le bus. Ils seront contentn d'être sue le web sir
                    chauve. Et vous comment vous portez vous bien mal? Tant mieux pour vos chaussettes. Qu'elles sont moche ses phrase de rache.<br />
                    Faut écrire trop de truc pour éviter cette effet de blanc / noir qui chamboule un peu trop. Donc écrivons mon ami de l'ami. <br />
                    Peut être qu'avec des lignes et des br cela  pourrait passer sans trop m'ennuyer. Toujours écrire et écrire omg j'aurais du aller
                    Lorem ipsum cela aurait été plus vite et plus jolie que mes phrases de rache.<br />
                    Nous voulons assurer à tout nos clients une horraire disponible qui leur convient dans la journée !<br /><br />
                    N'hésitez plus et venez au plus vite dans l'un de nos nombreux salons partout en France !<br /><br />
                    DS Innovation,<br />pour vous coiffer.
                </div>
                <div class="clear"></div>
            </div>
        </div>
                    
        <div class='black block'>
            <div class='center'>
                <h2>ESSENTIAL LOOKS</h2>
                <hr size="1px">
                <div class="essential_look">
                    <div id="bigscreen">
                        {% for picture in pictures %}
                            <div class="img_footer">
                                <img src="{{ asset(picture.url) }}">
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <hr size="1px">
            </div>
        </div>
        <script src="{{ asset("bundles/DS/JS/jquery-2.1.3.min.js") }} "></script>
        <script>
            var index = 0;
            function updateImage() {
                index += 1;
                $('#bigscreen').css('marginTop', -305*index + "px");

                if ((index + 1)*4 >= $('#bigscreen img').length)
                {
                    index = -1;
                }
            }
            setInterval(updateImage, 7000);
        </script>
    </section>
{% endblock %}